#contact-us,
#contact-us-snapless {
  width: 100%;
}

#contact-us {
  display: flex;
  flex-direction: column;
}

.contact-us {
  .contact-us-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "header""links""social";
  }

  gap: 2rem;
  width: 100%;
  padding: 8rem 3.2rem;

  &__header {
    grid-area: header;
    text-align: center;
  }

  &__links-container {
    grid-area: links;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 3rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    left: auto;
    padding-left: 3rem;
  }

  &__link:nth-child(3) {
    div {
      display: flex;
      flex-direction: column;
    }
    span {
      padding-top: 2px;
    }
  }


  &__text {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__social-media-container {
    grid-area: social;
    display: flex;
    gap: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 4.8rem;
    justify-content: center;
  }

  &__map {
    grid-area: map;
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__question {
    grid-area: map;
    color: var(--color-white);
    margin-bottom: 2.4rem;
    font-weight: 300;
  }

  &__btn {
    grid-area: btn;
  }
}

@media only screen and (min-width: $width-990) {
  .contact-us {
    &__header {
      padding-left: 3rem;
    }

    &__social-media-container {
      justify-content: flex-start;
      padding-left: 3rem;
    }
  }
}

@include respond(medium) {
  .contact-us {
    grid-template-columns: 1fr;
    grid-template-areas: "header map""links map""social map""question map""btn map";
    padding: 0;
    padding-left: 8rem;

    &__header {
      text-align: left;
      font-size: 4.8rem;
      font-weight: 800;
      margin-top: 6rem;
    }

    &__text {
      font-size: 1.6rem;
    }

    &__map {
      width: 100%;
      height: 100%;
    }

    &__btn {
      margin-bottom: 8rem;
    }
  }
}

@media only screen and (min-width: $width-991),
screen and (max-height: $width-1000),
screen and (max-width: $width-1080) {

  .contact-us {
    padding: 0;
    // padding-left: 8rem;
    gap: 1%;
    flex: 1 0;

    &__header {
      font-size: 3.8rem;
      font-weight: 800;
      margin-top: calc(3rem + 1%);
    }

    &__text {
      font-size: 1.4rem;
    }

    &__sub-header {
      margin-bottom: 15px;
    }

    &__btn {
      margin-bottom: 4rem;
      padding: 2rem 3rem !important;
    }
  }

}

@media only screen and (max-width: $width-990) {
  #contact-us-map {
    height: 20rem;
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: $width-991) and (max-width: $width-1080) {
  #contact-us-map {
    height: 30rem;
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: $width-1080) {
  .contact-us {
    display: flex;
    &__header {
      margin-top: calc(3rem + 1%);
      padding-left: 0;
      text-align: left;
      font-size: 4.8rem;
      font-weight: 800;
    }

    &__text {
      font-size: 2rem;
    }

    &__link {
      padding-left: 0;
    }

    &__social-media-container {
      padding-left: 0;
      justify-content: flex-start;
    }
  }
}

@media only screen and (max-height: $width-850),
screen and (min-width: $width-1000) {

  .contact-us {
    flex-direction: column;
    padding: 0;
    justify-items: start;
    height: max-content;

    &__header {
      font-size: 3.8rem;
      font-weight: 800;
      margin: 8rem 0 4.8rem 0;
    }
    
    &__links-container {
      margin-top: 0rem;
    }

    &__text {
      font-size: 1.4rem;
    }

    &__sub-header {
      margin-bottom: 15px;
    }

    &__map {
      width: 100%;
      height: auto;
    }

    &__btn {
      margin-bottom: 4rem;
      padding: 2rem 3rem !important;
    }
  }

}

@media only screen and (min-height: $width-850) and (min-width: $width-1000) {
  .contact-us {
    .contact-us-container {
      padding-left: 8rem;
      justify-items: left;
    }

    flex-direction: row;

    &__text {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: $width-1440) and (min-height: $width-1024) {
  .contact-us {
    &__header {
      margin-top: 14rem;
    }

    &__links-container {
      gap: 2.1rem;
    }

    &__social-media-container {
      margin-top: 12rem;
      margin-bottom: 14rem;
    }

    &__map {
      height: 69.2rem;
    }
  }
}