.gift-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // max-width: 240px;

  &__bgOverlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 128rem;
    padding: 8rem 3.2rem;
  }

  &__content-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 8.5rem;
  }

  &__header {
    margin-top: 4rem;
    margin-bottom: 2.4rem;
  }

  &__text {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media only screen and (min-width: 991px) {
  .gift-certificate {
    &__inner {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 8rem 6rem;
    }

    &__content-outer {
      flex-direction: row;
      gap: 2.4rem;
    }

    &__content {
      align-items: center;
      gap: 1.6rem;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 0;
    }

    &__btn-container {
      flex-direction: row-reverse;
    }

    &__btn-container {
      width: -moz-fit-content;
      width: fit-content;
    }
  }
}

@media only screen and (min-width: 1240px) {
  .gift-certificate {
    &__inner {
      flex-direction: row;
      align-items: center;
      padding: 8rem 3.2rem;
    }
  }
}

@media only screen and (min-width: 991px),
screen and (max-height: 1000),
screen and (max-width: 1080) {
  .gift-certificate {
    &__inner {
      // margin-top: 72px;
      padding: 4rem 3rem;
    }
  }
}

@media only screen and (min-height: 900px),
screen and (min-width: 1000px) {
  .gift-certificate {
    &__bgOverlay {
      width: 100%;
    }
  }
}

@media only screen and (max-height: 850px),
screen and (min-width: 1000px) {
  .gift-certificate {
    &__inner {
      // margin-top: 72px;
      padding: 4rem 3rem;
    }
  }
}