.gift-certificate {
  @include flex-layout(column, center, null);
  width: 100%;
  background-image: url("/src/images/png/bg-gift-certificate.png");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;

  &__bgOverlay {
    @include flex-layout(column, center, null);
    width: 100%;
    background: rgba(7, 7, 7, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
  }

  &__inner {
    @include flex-layout;
    width: 100%;
    max-width: 128rem;
    padding: 8rem 3.2rem;
  }

  &__content-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 8.5rem;
  }

  &__header {
    margin-top: 4rem;
    margin-bottom: 2.4rem;
  }

  &__text {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__btn-container {
    @include flex-layout(row-reverse);
    width: 100%;
    gap: 2.4rem;
  }
}

@supports (background-image: url("/src/images/webp/bg-gift-certificate.webp")) {
  .gift-certificate {
    background-image: url("/src/images/webp/bg-gift-certificate.webp");
  }
}

@include respond(medium) {
  .gift-certificate {
    &__inner {
      @include flex-layout(row, center, space-between);
      padding: 8rem 6rem;
    }

    &__content-outer {
      flex-direction: row;
      gap: 2.4rem;
    }

    &__content {
      align-items: center;
      gap: 1.6rem;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 0;
    }

    &__btn-container {
      @include flex-layout(row-reverse);
      width: -moz-fit-content;
      width: fit-content;
    }
  }
}

@include respond(large) {
  .gift-certificate {
    &__inner {
      flex-direction: row;
      align-items: center;
      padding: 8rem 3.2rem;
    }
  }
}

@include respond(medium) {
  .gift-certificate {
    &__content {
      align-items: flex-start;
    }

    &__text {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: $width-1000) {
  .gift-certificate {
    &__content {
      align-items: flex-start;
    }

    &__text {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: $width-991),
screen and (max-height: $width-1000),
screen and (max-width: $width-1080) {
  .gift-certificate {
    &__inner {
      padding: 4rem 3rem;
    }
  }
}

@media only screen and (min-height: $width-990),
screen and (min-width: $width-1000) {
  .gift-certificate {
    &__bgOverlay {
      width: 100%;
    }
  }
}

@media only screen and (max-height: $width-850),
screen and (min-width: $width-1000) {
  .gift-certificate {
    &__inner {
      padding: 4rem 3rem;
    }
  }
}