.main-header {
    display: flex;
    width: 100%;
}

.navigation-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    height: 7.2rem;
}

.navigation {
    display: none;
    padding: 16px min(10px, 80px);
}

.locale {
    display: flex;
    justify-content: center;
    align-items: center;

    &__current-language {
        font-size: 1.4rem;
    }
}

.mobile-locale-switcher {
    display: flex;
    gap: .8rem;
    margin-top: 8rem;
    font-size: 14px;
    line-height: 20px;

    &__locale {
        color: rgba(255, 255, 255, 0.4);
        background: transparent;
        border: none;

        &--active {
            color: var(--color-white);
        }
    }

    &__pipe {
        color: rgba(255, 255, 255, 0.4);
    }
}

@media only screen and (min-width: $width-desktop) {
    .main-header {
        justify-content: center;
        position: absolute;
        top: 0;
        z-index: 1;
        background: rgba(12, 12, 12, 0.94);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    .navigation-mobile {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 128rem;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav {
        display: flex;
        justify-content: space-around;

        &__menu-item {
            font-size: 1.2rem;

            &:not(:last-child){
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
        }

        &__menu-item-link {
            margin-left: 2.4rem;
            margin-right: 2.4rem;
            padding-bottom: .4rem;
            color: var(--color-white);
            cursor: pointer;
            // pointer-events:none;

            &:hover {
                font-weight: 800;
                border-bottom: 1px solid #fff;
                transition: font-weight .25s ease-in-out, border-bottom .25s ease-in-out;
            }
        }
    }

    .mobile-locale-switcher {
        margin-top: 0;
    }
}

@media only screen and (min-width: $width-desktop-header-fix) {
    .nav {
        &__menu-item {
            font-size: 1.4rem;
        }
    }
}