.hero {
    background-image: url("/src/images/bg.png");
    background-position: center;
    // height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
    // height: calc(100vh - 10rem);
    width: 100%;
    position: relative;
    // padding-bottom: var(--safe-area-inset-bottom);

    &__scroll-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    &__scroll {
        &--desktop {
            display: none;
        }
    }
}

.test {
    background-color: purple;
    width: var(--safe-area-inset-bottom);
    height: var(--safe-area-inset-top);
    // width: 100px;
    // height: 100px;
}


@media only screen and (min-width: $width-desktop) {
    .hero {
        // background-position: 50% 90%;
        background-size: cover;
        background-position: unset;

        &__scroll-container {
            margin-bottom: 6rem;
        }

        &__scroll {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}