.hero {
    background-image: url("/src/images/png/bg-small.png");
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: env(safe-area-inset-top);

    &__scroll-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
        bottom: 6rem;
    }

    &__scroll {
        &--desktop {
            display: none;
        }
    }
    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        pointer-events: none; 
        object-fit: cover;
    }
}


@include respond(small) {
    .hero {
        background-image: url("/src/images/png/bg-med.png");
        @supports (background-image: url("/src/images/webp/bg-med.webp")) {
            background-image: url("/src/images/webp/bg-med.webp");
        }
    }
}

@include respond(medium) {
    .hero {
        background-image: url("/src/images/png/bg.png");
        @supports (background-image: url("/src/images/webp/bg.webp")) {
            background-image: url("/src/images/webp/bg.webp");
        }
        background-size: cover;
        background-position: unset;
        height: 100vh;

        &__scroll-container {
            margin-bottom: 6rem;
            bottom: 6rem;
        }

        &__scroll {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}