.carousell {
    width: 360vw;
    overflow: hidden;
    /* border: 1px solid white; */
    transition: all 0.3s;
    display: flex;
    align-content: center;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-left: 20vw;
    max-height: 50vh;
}

.carousell-main {
    // width: 100vw;
    width: calc(100vw - 2vw);
    overflow-x: hidden;
    position: relative;
}

.carousell-wrapper img {
    width: 60vw;
    height: 100%;
}

.carousell-main button {
    position: absolute;
    width: 45px;
    height: 35px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #000;
    color: aliceblue;
    z-index: 20;
    cursor: pointer;
}

.nextt,
.prevv {
    top: 45%;
}

.prevv {
    left: 19vw;
    rotate: 180deg;
}

.nextt {
    right: 18vw;
}

.afterr,
.afterr2 {
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000b3;
    z-index: 10;
    width: 20vw;
    max-height: 50vh;
}

.afterr {
    left: 0;
}

.afterr2 {
    right: 0;
}

.dots-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    gap: 10px;
    width: 200px;
    margin: 0 auto;
    bottom: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.21);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.399);
}

@media (max-width: $width-900) {
    .carousell {
        width: 540vw;
        margin-left: 5vw;
    }

    .carousell-main {
        display: none;
    }

    .carousell-wrapper img {
        width: 90vw;
    }

    .afterr {
        width: 5vw;

    }

    .afterr2 {
        width: 5vw;
    }

    .prevv {
        left: 2vw;
    }

    .nextt {
        right: 1vw;
    }

    .nextt,
    .prevv {
        top: 40%;
    }
}

@media (max-width: $width-650) {

    .prevv,
    .nextt {
        width: 30px !important;
        height: 25px !important;
    }

    .prevv img,
    .nextt img {
        width: 15px;
    }
}

@media (min-width: $width-1080) {

    .nextt,
    .prevv {
        top: 40%;
    }
}