.record-studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("/src/images/png/bg-record-studio.png");

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8rem 3.2rem;
  }
  &__text {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  &__text:first-of-type {
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
  &__text:last-of-type {
    margin-bottom: 4%;
  }
}

@supports (background-image: url("/src/images/webp/bg-record-studio.webp")) {
  .record-studio {
      background-image: url("/src/images/webp/bg-record-studio.webp");
  }
}

@media only screen and (min-width: 747px) {
  .record-studio {
    &__text {
      align-items: center;
    }
  }
}

@include respond(medium) {
  .record-studio {
    &__text {
      max-width: 106.1rem;
      font-size: 18px;
    }
    &__inner {
      padding: 4rem 8rem;
      justify-content: space-around;
    }
    &__card {
      padding: 8% 2.4rem 2.4rem 2.4rem;
    }
  }
}

@include respond(large) {
  .record-studio {
    &__text {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 764px) {
  .record-studio {
    &__inner {
      padding: 8rem 1rem;
    }

    &__card {
      margin: 0rem 2rem;
    }
    &__text {
      margin: 0rem 2rem;
    }
  }
}

@media only screen and (max-height: 850px), screen and (min-width: 1000px) {
  .record-studio {
    &__text:first-of-type {
      margin-top: 1.4rem;
      margin-bottom: 0.8rem;
    }

    &__text:last-of-type {
      margin-bottom: 0.5rem;
    }

    &__inner {
      padding: 2rem 3rem;
      justify-content: space-around;
    }

    &__header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1;
      justify-content: space-evenly;
      max-height: 250px;
    }

    &__inner .cards.desktop {
      flex: 1 1 60%;
      padding: 0;
      padding-top: 3%;
      max-height: 600px;
    }
    &__card {
      padding: 2.2rem 2rem;
      max-height: 440px;
    }
  }
}
