@mixin flex-layout($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin respond($breakpoint) {
    @if $breakpoint == small {
        @media only screen and (min-width: 451px) {
            @content;
        }
    }
    @else if $breakpoint == medium {
        @media only screen and (min-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint == large {
        @media only screen and (min-width: 1240px) {
            @content;
        }
    }
}
