.about-us {
    display: flex;
    flex-direction: column;
    padding: 8rem 3.2rem;
    background: var(--color-primary);

    &__text {
        font-size: 1.4rem;
        line-height: 1.68rem;

        &:first-of-type {
            margin-bottom: 1.4rem;
        }

        &:last-of-type {
            margin-bottom: 6.4rem;
        }
    }
}