body {
    box-sizing: border-box;
    font-family: "Gilroy", "Inter", sans-serif;
    // line-height: 125%;
    line-height: 1.92rem;
    scroll-behavior: smooth;
    overscroll-behavior: none; // important to keep scroll-snap workable
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-white);
}

// Scroll-Snap feature
$padding-header-scroll: 50px; // Todo: check sizes!

html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: $padding-header-scroll;
}

.hero, #about-us, #record-studio, #course-dj, #course-production, #rent, #contact-us {
    height: calc(100vh - $padding-header-scroll);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

// Lazy load feature
// .blurred-img {
//     background-image: url(imageName-small.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
// }

@media only screen and (max-width: 1080px)
  {
    html {
        scroll-snap-type: none;
        scroll-padding-top: none;
    }
    
    .hero, #about-us, #record-studio, #course-dj, #course-production, #rent, #contact-us {
        height: 100%;
        scroll-snap-align: none;
        scroll-snap-stop: none;
    }
  }
