.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 411px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3.2rem 2.4rem;

    &:hover .card__img-container  {
        mix-blend-mode: unset;
    }

    &:hover {
        border: 1px solid var(--color-white);
    }

    &__img-container {
        background: #000000;
        mix-blend-mode: luminosity;
    }


    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1.6rem;
    }

    &__price {
        font-size: 2.4rem;
        font-weight: 800;
    }

    &__list {
        padding: 3.2rem 0;
        list-style-type: disc;
        list-style-position: inside;
    }

    &__list-item {
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.72);
        white-space: break-spaces;
    }

    &__button {
        background: var(--color-white);
        width: 100%;
        text-align: center;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        font-size: 1.6rem;
        color: var(--color-primary);
    }
}

@media only screen and (min-width: 768px) {
    .cards {
        flex-direction: row;
        gap: 2.4rem;
    }

    .card {
        // height: 48.3rem;
        // padding-bottom: 14.4rem;

        &__title {
            font-size: 2.4rem;
        }

        &__list-item {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
}