.carousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 393px;
  margin-bottom: 1.5rem;
  /* height: 200px; */
  /* background-color: green; */
  /* color: #fff; */
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > div {
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
  margin: 5px;
}

.indicators > div.active {
  background: rgba(255, 255, 255, 0.72);
  border: 1px solid rgba(255, 255, 255, 0.72);
  color: #fff;
}

.carousell {
  height: 100%;
}
.carousell-main {
  height: 100%;
}

@media only screen and (min-width: 991px) {
  .carousel-item {
    // height: 100%;
    margin-bottom: 3rem;
  }
}
