.cards {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    max-width: 411px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3.2rem 2.4rem;

    // &:hover .card__img-container  {
    //     mix-blend-mode: unset;
    // }

    &:hover .card__img  {
        -webkit-filter: unset;
        filter: unset;
    }

    &:hover {
        border: 1px solid var(--color-white);
    }

    // &__img-container {
    //     background: #000000;
    //     mix-blend-mode: luminosity;
    // }

    &__img {
        width: 100%;
        height: auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    &__title {
        margin-bottom: 1.6rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
    }

    &__price {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 800;
    }

    &__list {
        padding: 3.2rem 0;
        list-style-type: disc;
        list-style-position: inside;
    }

    &__list-item {
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.72);
        white-space: break-spaces;
    }

    &__btn {
        display: none !important;
        width: 100% !important;
        max-width: 58rem;
        margin-top: auto;
    }
}

@media only screen and (min-width: 768px) {
    .cards {
        flex-direction: row;
        gap: 2.4rem;
    }

    .card {
        // height: 48.3rem;
        max-width: 62.8rem;
        padding-bottom: 6rem;

        &__title {
            font-size: 2.4rem;
        }

        &__list-item {
            font-size: 1.6rem;
            font-weight: 300;
        }

        &__btn {
            position: absolute;
            bottom: 2rem;
        }

        &:hover .card__btn {
            display: flex !important;
        }
    }
}