.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 3.2rem;

    &__links-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5.1rem;
    }

    &__link {
        display: flex;
        gap: 1.2rem;
    }

    &__text {
        color: var(--color-white);
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__social-media-container {
        margin-top: 4rem;
        margin-bottom: 4.8rem;
    }

    &__sub-header {
        color: var(--color-white);
        margin-bottom: 2.4rem;
        font-weight: 300;
    }
}