.hero-screen {
    background-image: url("/src/images/bg-desktop.png");
    height: 100vh;
    position: relative;

    &__mouse-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media only screen and (min-width: 768px) {
    .hero-screen {
        background-image: url("/src/images/bg-desktop.png");
    }
}