.record-studio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 3.2rem;

    &__text {
        font-size: 1.6rem;
    }

    &__text:last-of-type {
        margin-bottom: 4.8rem;
    }
}