.record-studio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__inner {
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8rem 3.2rem;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 300;

        &:first-of-type {
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;
        }
    }

    &__text:last-of-type {
        margin-bottom: 4.8rem;
    }

    &__btn {
        display: none !important;
        margin-top: auto;
    }
}

.card:hover .record-studio__btn {
    display: flex !important;
}

@media only screen and (min-width: 768px) {
    .record-studio {
        &__text {
            // max-width: 10.61rem;
            font-size: 20;
        }
    }
}