.top-screen {
    background-image: url("/src/images/bg-desktop.png");
    height: 100vh;
}


@media only screen and (min-width: 768px) {
    .top-screen {
        background-image: url("/src/images/bg-desktop.png");
    }
}