/* selecting each and every element on the page and applying reset to it */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*border box inherited from body*/
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /*easier to calculate props: total  width and height will include paddings */
  box-sizing: border-box;
  font-family: "Gilroy", "Inter", sans-serif;
}

/*
    Below is part of reset.css
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.mobile {
  display: flex !important;
}

.bold {
  font-weight: 800;
}

.header {
  font-size: 2.8rem;
  line-height: 33.6px;
  text-align: center;
}

.jump {
  transform-origin: 50% 50%;
  animation: jump 0.5s linear alternate infinite;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}
:root {
  --color-primary: #0C0C0C;
  --color-white: #FFFFFF;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 8rem 3.2rem;
  background: var(--color-primary);
}
.about-us__text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.68rem;
}
.about-us__text:first-of-type {
  margin-bottom: 1.4rem;
}
.about-us__text:last-of-type {
  margin-bottom: 6.4rem;
}

@media only screen and (min-width: 768px) {
  .about-us__text {
    margin: 0 15rem;
  }
}
body {
  line-height: 1.92rem;
}

.main {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 411px;
  border: 1px solid var(--color-white);
  padding: 3.2rem 2.4rem;
}
.card__title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}
.card__price {
  font-size: 2.4rem;
  font-weight: 800;
}
.card__list {
  padding: 3.2rem 0;
  list-style-type: disc;
  list-style-position: inside;
}
.card__list-item {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.72);
}
.card__button {
  background: var(--color-white);
  width: 100%;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  color: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    gap: 2.4rem;
  }

  .card {
    height: 48.3rem;
  }
  .card__title {
    font-size: 2.4rem;
  }
  .card__list-item {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.contact-us__left {
  display: flex;
  flex-direction: column;
}
.contact-us__right {
  width: 100%;
  height: 500px;
}
.contact-us__links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5.1rem;
}
.contact-us__link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.contact-us__text {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 300;
}
.contact-us__social-media-container {
  display: flex;
  gap: 2.4rem;
  margin-top: 4rem;
  margin-bottom: 4.8rem;
}
.contact-us__sub-header {
  color: var(--color-white);
  margin-bottom: 2.4rem;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .contact-us {
    flex-direction: row;
    padding: 6rem 8rem;
  }
  .contact-us__left {
    width: 50%;
  }
  .contact-us__right {
    width: 50%;
    height: 500px;
  }
  .contact-us__header {
    text-align: left;
    font-size: 4.8rem;
    font-weight: 800;
  }
  .contact-us__text {
    font-size: 1.6rem;
  }
}
.course-dj {
  padding: 8rem 0;
}
.course-dj__header {
  padding: 0 3.2rem;
}
.course-dj__img {
  margin-top: 4rem;
  width: 100%;
  height: auto;
}
.course-dj__text-container {
  margin-top: 4rem;
  padding: 0 3.2rem;
}
.course-dj__text {
  font-size: 1.6rem;
  font-weight: 300;
}
.course-dj__text:first-of-type {
  margin-bottom: 1.6rem;
}
.course-dj__text:last-of-type {
  margin-bottom: 4rem;
}
.course-dj__button {
  margin: 0 3.2rem;
}

@media only screen and (min-width: 768px) {
  .course-dj {
    position: relative;
  }
  .course-dj__img {
    position: absolute;
  }
}
.course-production {
  padding: 8rem 3.2rem;
}
.course-production__text-container {
  padding: 4rem 0;
}
.course-production__text {
  font-size: 1.6rem;
  font-weight: 300;
}
.course-production__text:first-of-type {
  margin-bottom: 1.6rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 4rem 3.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}
.footer__link {
  color: var(--color-white);
  font-size: 1.4rem;
}
.footer__link:first-child {
  margin-bottom: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .footer__link:first-child {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
.gift-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.gift-certificate__header {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}
.gift-certificate__text {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.gift-certificate__btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .gift-certificate {
    flex-direction: row;
    align-items: center;
  }
  .gift-certificate__text {
    margin-bottom: 0;
  }
  .gift-certificate__btn-container {
    flex-direction: row-reverse;
  }
}
.main-header {
  display: flex;
}

.navigation-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height: 7.2rem;
}

.navigation {
  display: none;
  padding: 16px 10px;
}

.locale {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locale__current-language {
  font-size: 1.4rem;
}

.mobile-locale-switcher {
  display: flex;
  gap: 0.8rem;
  margin-top: 8rem;
  font-size: 14px;
  line-height: 20px;
}
.mobile-locale-switcher__locale {
  color: rgba(255, 255, 255, 0.4);
}
.mobile-locale-switcher__locale--active {
  color: var(--color-white);
}
.mobile-locale-switcher__pipe {
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 768px) {
  .main-header {
    justify-content: center;
  }

  .navigation-mobile {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }
  .nav__menu-item {
    font-size: 1.4rem;
  }
  .nav__menu-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .nav__menu-item-link {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0.4rem;
    color: var(--color-white);
  }
  .nav__menu-item-link:hover {
    font-weight: 800;
    border-bottom: 1px solid #fff;
    transition: font-weight 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
  }

  .mobile-locale-switcher {
    margin-top: 0;
  }
}
.hero {
  background-image: url("/src/images/bg-mobile.png");
  height: 100vh;
  position: relative;
}
.hero__scroll-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.hero__scroll--desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url("/src/images/bg-desktop.png");
  }
  .hero__scroll-container {
    margin-bottom: 6rem;
  }
  .hero__scroll--mobile {
    display: none;
  }
  .hero__scroll--desktop {
    display: block;
  }
}
#fb:hover #fb-rect {
  fill: white;
}

#fb:hover #fb-path {
  stroke: black;
  fill: black;
}

#ig:hover #ig-rect {
  fill: white;
}

#ig:hover #ig-vector1 {
  fill: black;
}

#ig:hover #ig-vector2 {
  fill: black;
}

#ig:hover #ig-vector3 {
  fill: black;
}

#tk:hover #tk-path {
  fill: black;
}

#tk:hover #tk-rect {
  fill: white;
}

.podcast {
  padding: 8rem 3.2rem;
}
.podcast__text {
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.podcast__btn-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 4rem;
}

.podcast-card {
  height: 175px;
}

.record-studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.record-studio__text {
  font-size: 1.6rem;
  font-weight: 300;
}
.record-studio__text:first-of-type {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
.record-studio__text:last-of-type {
  margin-bottom: 4.8rem;
}
.record-studio__btn {
  display: none !important;
  margin-top: auto;
}

.card:hover .record-studio__btn {
  display: flex !important;
}

.rent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.rent__card-container {
  margin-top: 4rem;
}
.rent__title {
  padding-bottom: 4.8rem;
}

/*# sourceMappingURL=main.css.map */
