/* selecting each and every element on the page and applying reset to it */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*border box inherited from body*/
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /*easier to calculate props: total  width and height will include paddings */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*
    Below is part of reset.css
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:root {
  --color-primary: #0C0C0C;
  --color-white: #FFFFFF;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 8rem 3.2rem;
  background: var(--color-primary);
}
.about-us__text {
  color: var(--color-white);
  font-size: 1.4rem;
}

.main {
  background-color: var(--color-primary);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: var(--color-white);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 2.4rem;
}
.card__title {
  font-size: 2rem;
}
.card__price {
  font-size: 2.4rem;
  font-weight: bold;
}
.card__list {
  padding: 3.2rem 0;
  list-style-type: disc;
  list-style-position: inside;
}
.card__text {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.72);
}
.card__button {
  background: var(--color-white);
  width: 100%;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  color: var(--color-primary);
}

.course-dj {
  padding: 0 3.2rem;
}
.course-dj__text-container {
  padding: 4rem 0;
}
.course-dj__text {
  font-size: 1.6rem;
  color: var(--color-white);
}

.gift-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  color: var(--color-white);
}

.navigation-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.navigation {
  display: none;
  padding: 16px 10px;
}

.locale {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locale__current-language {
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: center;
  }

  .navigation-mobile {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .nav__menu-item {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.4rem;
  }
  .nav__menu-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.hero {
  background-image: url("/src/images/bg-mobile.png");
  height: 100vh;
  position: relative;
}
.hero__scroll-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero__scroll--desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url("/src/images/bg-desktop.png");
  }
  .hero__scroll--mobile {
    display: none;
  }
  .hero__scroll--desktop {
    display: block;
  }
}
.podcast {
  padding: 8rem 3.2rem;
}

.podcast-card {
  height: 300px;
}

.record-studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.record-studio__title {
  font-size: 2.8rem;
  color: var(--color-white);
}
.record-studio__text {
  font-size: 1.6rem;
  color: var(--color-white);
}

.rent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3.2rem;
}
.rent__title {
  color: var(--color-white);
  padding-bottom: 4.8rem;
}

/*# sourceMappingURL=main.css.map */
